<ion-row class="section" class="ion-padding-top">
  <ion-col size="8">
    <h4>ELA Amount</h4>
  </ion-col>

  <ion-col size="4">
    <ion-item class="ion-text-center">
      <ion-input [(ngModel)]="ela" type="number" placeholder="#" required></ion-input>
    </ion-item>
  </ion-col>
</ion-row>

<ion-row class="section">
  <ion-col size="8">
    <h4>Packet Amount</h4>
  </ion-col>
  <ion-col size="4">
    <ion-item class="ion-text-center">
      <ion-input [(ngModel)]="packets" type="number" maxlength="2000" placeholder="#" required></ion-input>
    </ion-item>
  </ion-col>
</ion-row>

<ion-row class="ion-padding-top">
  <ion-col size="12">
    <h4>Nickname</h4>
  </ion-col>
</ion-row>

<ion-row class="section">
  <ion-col size="12">
    <ion-item class="ion-text-center" expand="full">
      <ion-input [(ngModel)]="name" type="text" placeholder="Enter your name" minLength="3" required></ion-input>
    </ion-item>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col size="12">
    <h4>Packet Note</h4>
  </ion-col>
</ion-row>

<ion-row class="section">
  <ion-col size="12">
    <ion-item class="ion-text-center">
      <ion-textarea
        [(ngModel)]="note"
        placeholder="Add a custom note (optional)"
        type="text">
      </ion-textarea>
    </ion-item>
  </ion-col>
</ion-row>

<ion-row class="ion-padding-top">
  <ion-col size="6">
    <h4>Beneficiaries</h4>
  </ion-col>
  <ion-col size="6" class="add-btn">
    <ion-fab-button color="danger" (click)="addLine()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-col>
</ion-row>

<ion-row class="section">
  <ion-col size="12" *ngFor="let address of addresses; let i = index; trackBy: trackByFn">
    <ion-item class="ion-text-center">
      <ion-input
        [(ngModel)]="addresses[i]"
        (ngModelChange)="addressChanged($event)"
        placeholder="Add an address (optional)"
        clearInput="true"
        type="text">
      </ion-input>
    </ion-item>
  </ion-col>
</ion-row>

<div *ngIf="creatingPacket === false" class="custom-btn" (click)="createPacket()">
  <ion-label>Create Red Packet</ion-label>
</div>

<div *ngIf="creatingPacket === true" class="creatingPacket" disabled>
  <ion-spinner name="dots"></ion-spinner>
</div>
