<ion-content>
  <ion-grid class="container ion-text-center ion-padding">
   <!--  <ion-segment color="danger">
      <ion-segment-button mode="ios" value="peek" [class.highlight]="peekActive" (click)="showPeek()">
        <ion-label>Peek</ion-label>
      </ion-segment-button>
      <ion-segment-button mode="ios" value="grab" [class.highlight]="grabActive" (click)="showGrab()">
        <ion-label>Grab</ion-label>
      </ion-segment-button>
    </ion-segment> -->

    <app-peek *ngIf="peekActive"></app-peek>
    <app-grab *ngIf="grabActive" [hash]="hash"></app-grab>
  </ion-grid>
</ion-content>
