<ion-content>
  <ion-grid class="container ion-text-center ion-padding">
    <ion-segment color="danger">
      <ion-segment-button class="packetType-btns" mode="ios" value="random" [class.highlight]="randomActive" (click)="showRandom()">
        <ion-label>Random</ion-label>
      </ion-segment-button>
      <ion-segment-button class="packetType-btns" mode="ios" value="fixed" [class.highlight]="fixedActive" (click)="showFixed()">
        <ion-label>Fixed</ion-label>
      </ion-segment-button>
      <ion-segment-button class="packetType-btns" mode="ios" value="supernode" [class.highlight]="nodeActive" (click)="showNode()">
        <ion-label>Supernode</ion-label>
      </ion-segment-button>
    </ion-segment>

    <app-random *ngIf="randomActive"></app-random>
    <app-fixed *ngIf="fixedActive"></app-fixed>
    <app-node *ngIf="nodeActive"></app-node>
  </ion-grid>
</ion-content>
